# Check that there is correct spelling in all files
name: Check spelling

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check_spelling:

    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:

      - name: Set up Git repository
        uses: actions/checkout@v4.2.0

      - name: Remove folders that do not care about spelling
        run: |
          rm -rf LICENSE.md
          rm -rf docs/old
          rm -rf meeting_notes

      # There are no RST spellcheckers, hence use MD spellchecker
      - name: Convert RST to Markdown
        run: ./scripts/convert_rst_to_mk.sh

      - uses: igsekor/pyspelling-any@v1.0.4
