# Check that there is correct spelling in all files
name: Check spelling

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check_spelling:

    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:

      - name: Set up Git repository
        uses: actions/checkout@v4.2.0

      - name: Remove files that do not care about spelling
        run: |
          rm -rf LICENSE.md
          rm -rf docs/old
          rm -rf meeting_notes
          rm $(find . | grep "_old\\.")

      - uses: igsekor/pyspelling-any@v1.0.4
